<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Thee Collective</title>
  <link rel="stylesheet" href="../static/style/trial.css">
</head>
<body>
<div class="main-content">
  <section class="left-section">
    <div class="slider-container">
        <button class="slider-btn prev-btn">&#10094;</button>
        <div class="slider">
            <div class="slide">
                <img src="../static/images/cover1.png" alt="Image 1">
                <h3>The new trends in men's fashion this summer</h3>
            </div>
            <div class="slide">
                <img src="../static/images/cover2.jpg" alt="Image 2">
                <h3>will the Lakers survive the joker this time?</h3>
            </div>
            <div class="slide">
                <img src="../static/images/cover3.jpg" alt="Image 2">
                <h3>What are the best places to actually have fun?</h3>
            </div>
            <div class="slide">
                <img src="../static/images/cover4.jpg" alt="Image 2">
                <h3>This SDT is making a comeback?</h3>
            </div>
            <div class="slide">
                <img src="../static/images/cover5.jpg" alt="Image 2">
                <h3>It's that time of the year again</h3>
            </div>
        </div>
        <button class="slider-btn next-btn">&#10095;</button>
    </div>
    <h1 id="title1">Fun</h1>
    <div class="section">
        <div class="section-item">
          <img src="../static/images/cover3.jpg" alt="Image 1">
          <div class="section-title">Title 1</div>
        </div>
        <div class="section-item">
          <img src="../static/images/cover5.jpg" alt="Image 2">
          <div class="section-title">Title 2</div>
        </div>
        <div class="section-item">
            <img src="../static/images/cover3.jpg" alt="Image 2">
            <div class="section-title">Title 1</div>
        </div>
        <div class="section-item">
            <img src="../static/images/cover5.jpg" alt="Image 2">
            <div class="section-title">Title 2</div>
        </div>
        <!-- Add more section-items as needed -->
    </div>
    <div class="section">
      <div class="section-item">
        <img src="../static/images/cover3.jpg" alt="Image 1">
        <div class="section-title">Title 1</div>
      </div>
      <div class="section-item">
        <img src="../static/images/cover5.jpg" alt="Image 2">
        <div class="section-title">Title 2</div>
      </div>
      <div class="section-item">
          <img src="../static/images/cover3.jpg" alt="Image 2">
          <div class="section-title">Title 1</div>
      </div>
      <div class="section-item">
          <img src="../static/images/cover5.jpg" alt="Image 2">
          <div class="section-title">Title 2</div>
      </div>
      <!-- Add more section-items as needed -->
  </div>
  </section>
  <section class="right-section">
    <section class="side-list">
      <h2 class="right-head">Popular Stories</h2>
      <ul class="elements-container">
        <!-- List items -->
        <li class="elements">Story 1</li>
        <li class="elements">Story 2</li>
        <li class="elements">Story 3</li>
        <li class="elements">Story 4</li>
        <li class="elements">Story 5</li>
        <li class="elements">Story 6</li>
        <li class="elements">Story 7</li>
        <li class="elements">Story 8</li>
        <li class="elements">Story 9</li>
        <li class="elements">Story 10</li>
    </ul>
    </section>
  </section>
</div>
<script src="../static/js/trial.js"></script>
</body>
</html>
